# Mini-Project - Analysis of consumer buying behavior

<font color='yellow'>Project description:</font>
* The project consisted of analyzing purchase data from a web site;
* The data were provided in JSON format, and were collected from product purchases made online, with information on product type, age, gender, purchase value, among others;
* The goal was to deliver an analysis of consumer buying behavior, which could provide future support to feed machine learning models and make predictions about future behaviors.

<font color='yellow'>Directory for the database:</font> displayed in the project folder.

<font color='yellow'>Languages used for this project:</font> Python.

In [1]:
from platform import python_version
print('Python language version used in this project:', python_version())

Python language version used in this project: 3.10.3

In [2]:
import pandas as pd
import numpy as np
import statistics as sts
from sklearn.feature_extraction.text import CountVectorizer
import warnings
warnings.filterwarnings('ignore')

In [3]:
loadFile = "purchaseData.json"
purchaseFile = pd.read_json(loadFile, orient = "records")
purchaseFile.columns = ['Login', 'Age', 'Gender', 'ItemID', 'Product', 'Cost']
purchaseFile.loc[purchaseFile['Gender'] == 'Masculino', 'Gender'] = 'Male'
purchaseFile.loc[purchaseFile['Gender'] == 'Feminino', 'Gender'] = 'Female'
purchaseFile.loc[purchaseFile['Gender'] == 'Outro / NÃ£o Divulgado', 'Gender'] = 'Other'
purchaseFile.head()

,Login,Age,Gender,ItemID,Product,Cost
0,Aelalis34,38,Male,165,Bone Crushing Silver Skewer,3.37
1,Eolo46,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32
2,Assastnya25,34,Male,174,Primitive Blade,2.46
3,Pheusrical25,21,Male,92,Final Critic,1.36
4,Aela59,23,Male,63,Stormfury Mace,1.27

## Information about consumers

In [4]:
# Verification of the need for initial treatment:
purchaseFile.isnull().sum()

Login      0
Age        0
Gender     0
ItemID     0
Product    0
Cost       0
dtype: int64

In [5]:
# Number of unique consumers:
numberOfConsumers = len(purchaseFile.groupby('Login').size())
print(numberOfConsumers)

573

## General analysis of purchases

In [6]:
# Number of unique items by the Product column:
purchaseFile.groupby('Product').size()

Product
Abyssal Shard                      3
Aetherius, Boon of the Blessed     4
Agatha                             5
Alpha                              7
Alpha, Oath of Zeal                7
                                  ..
Wolf                               5
Wolf, Promise of the Moonwalker    7
Worldbreaker                       2
Yearning Crusher                   2
Yearning Mageblade                 4
Length: 179, dtype: int64

In [7]:
# Number of unique items by the ItemID column:
purchaseFile.groupby('ItemID').size()

ItemID
0      1
1      4
2      1
3      1
4      1
      ..
179    7
180    5
181    3
182    5
183    5
Length: 183, dtype: int64

In [8]:
# It is observed that there is an inconsistency in the data that needs to be resolved

# Analysis for when the product has the same nomenclature but the ItemID is different:

tempdf = pd.DataFrame()
productA_Array = []
itemA_Array = []
indexA_Array = []
productB_Array = []
itemB_Array = []
indexB_Array = []

for a in range(len(purchaseFile)):
    for b in range(len(purchaseFile)):
        if purchaseFile['Product'][a] == purchaseFile['Product'][b] and purchaseFile['ItemID'][a] != purchaseFile['ItemID'][b]:
            indexA_Array.append(a)
            productA_Array.append(purchaseFile['Product'][a])
            itemA_Array.append(purchaseFile['ItemID'][a])
            indexB_Array.append(b)
            productB_Array.append(purchaseFile['Product'][b])
            itemB_Array.append(purchaseFile['ItemID'][b])
tempdf['Index_A'] = indexA_Array
tempdf['Product_A'] = productA_Array
tempdf['ItemID_A'] = itemA_Array
tempdf['Index_B'] = indexB_Array
tempdf['Product_B'] = productB_Array
tempdf['ItemID_B'] = itemB_Array
tempdf

     Index_A     Product_A  ItemID_A  Index_B     Product_B  ItemID_B
0          3  Final Critic        92       54  Final Critic       101
1          3  Final Critic        92      193  Final Critic       101
2          3  Final Critic        92      606  Final Critic       101
3          3  Final Critic        92      612  Final Critic       101
4          3  Final Critic        92      663  Final Critic       101
..       ...           ...       ...      ...           ...       ...
201      737  Final Critic       101      509  Final Critic        92
202      737  Final Critic       101      572  Final Critic        92
203      737  Final Critic       101      648  Final Critic        92
204      770    Persuasion       141       26    Persuasion       132
205      770    Persuasion       141       88    Persuasion       132

[206 rows x 6 columns]

In [9]:
# Analysis for when the ItemID has the same naming but the product naming is different:

tempdf = pd.DataFrame()
productA_Array = []
itemA_Array = []
indexA_Array = []
productB_Array = []
itemB_Array = []
indexB_Array = []

for a in range(len(purchaseFile)):
    for b in range(len(purchaseFile)):
        if purchaseFile['Product'][a] != purchaseFile['Product'][b] and purchaseFile['ItemID'][a] == purchaseFile['ItemID'][b]:
            indexA_Array.append(a)
            productA_Array.append(purchaseFile['Product'][a])
            itemA_Array.append(purchaseFile['ItemID'][a])
            indexB_Array.append(b)
            productB_Array.append(purchaseFile['Product'][b])
            itemB_Array.append(purchaseFile['ItemID'][b])
tempdf['Index_A'] = indexA_Array
tempdf['Product_A'] = productA_Array
tempdf['ItemID_A'] = itemA_Array
tempdf['Index_B'] = indexB_Array
tempdf['Product_B'] = productB_Array
tempdf['ItemID_B'] = itemB_Array
tempdf

,Index_A,Product_A,ItemID_A,Index_B,Product_B,ItemID_B
0,13,"Piety, Guardian of Riddles",76,320,Haunted Bronzed Bludgeon,76
1,13,"Piety, Guardian of Riddles",76,405,Haunted Bronzed Bludgeon,76
2,13,"Piety, Guardian of Riddles",76,488,Haunted Bronzed Bludgeon,76
3,13,"Piety, Guardian of Riddles",76,568,Haunted Bronzed Bludgeon,76
4,320,Haunted Bronzed Bludgeon,76,13,"Piety, Guardian of Riddles",76
5,405,Haunted Bronzed Bludgeon,76,13,"Piety, Guardian of Riddles",76
6,488,Haunted Bronzed Bludgeon,76,13,"Piety, Guardian of Riddles",76
7,568,Haunted Bronzed Bludgeon,76,13,"Piety, Guardian of Riddles",76

In [10]:
# Conclusion: the database has several inconsistencies
# Attempting a different approach by grouping similar products together:
purchaseFile['Product'] = list(purchaseFile['Product'].map(lambda x: [i.strip() for i in x.split(',')]))
for i in range(len(purchaseFile)):
    purchaseFile['Product'][i] = purchaseFile['Product'][i][0]
tempUniqueProduct = purchaseFile.groupby('Product').size()
uniqueProduct = pd.DataFrame()
uniqueProduct['Product'] = list(tempUniqueProduct.index)
uniqueProduct['Number of purchases'] = list(tempUniqueProduct.values)
uniqueProduct.sort_values(['Number of purchases'], ascending = False)

                      Product  Number of purchases
3                       Alpha                   20
28                  Darkheart                   15
52               Final Critic                   14
168                      Wolf                   12
6                  Arcane Gem                   11
..                        ...                  ...
53                       Flux                    1
45   Exiled Mithril Longsword                    1
156                   Verdict                    1
37                   Downfall                    1
72                 Hellreaver                    1

[172 rows x 2 columns]

In [11]:
# Organization of the 10 best selling products:
topSellingProducts = pd.DataFrame()
topSellingProducts = uniqueProduct.sort_values(['Number of purchases'], ascending = False).head(10)
topSellingProducts

                        Product  Number of purchases
3                         Alpha                   20
28                    Darkheart                   15
52                 Final Critic                   14
168                        Wolf                   12
6                    Arcane Gem                   11
9                      Betrayal                   11
132                 Stormcaller                   10
22                      Celeste                   10
167  Woeful Adamantite Claymore                    9
149                   Trickster                    9

In [12]:
# Final result with the 10 most sold products, considering the number of sales, the average cost per sale and the total amount collected:
priceAverage = []
totalYield = []
for a in list(topSellingProducts['Product']):
    arrayTemp = []
    for b in range(len(purchaseFile)):
        if purchaseFile['Product'][b] == a:
            arrayTemp.append(purchaseFile['Cost'][b])
    priceAverage.append(round(sts.mean(arrayTemp), 2))
    totalYield.append(sum(arrayTemp))
topSellingProducts['Average cost'] = priceAverage
topSellingProducts['Total Yield'] = totalYield
topSellingProducts

,Product,Number of purchases,Average cost,Total Yield
3,Alpha,20,2.02,40.38
28,Darkheart,15,3.34,50.12
52,Final Critic,14,2.76,38.60
168,Wolf,12,1.86,22.36
6,Arcane Gem,11,2.23,24.53
9,Betrayal,11,2.35,25.85
132,Stormcaller,10,3.47,34.65
22,Celeste,10,3.15,31.50
167,Woeful Adamantite Claymore,9,1.24,11.16
149,Trickster,9,2.07,18.63

## Demographic analysis

In [13]:
demographicAnalysis = purchaseFile.groupby('Gender').size()
dfDemographicAnalysis = pd.DataFrame()
dfDemographicAnalysis['Gender'] = list(demographicAnalysis.index)
dfDemographicAnalysis['Count'] = list(demographicAnalysis.values)
tempArray = []
for i in range(len(dfDemographicAnalysis)):
    tempArray.append(round(dfDemographicAnalysis['Count'][i]/dfDemographicAnalysis['Count'].sum()*100, 2))
dfDemographicAnalysis['Percentage'] = tempArray
dfDemographicAnalysis

   Gender  Count  Percentage
0  Female    136       17.44
1    Male    633       81.15
2   Other     11        1.41

## Analysis of purchases by gender

In [14]:
priceAverage = []
totalYield = []
for a in list(dfDemographicAnalysis['Gender']):
    arrayTemp = []
    for b in range(len(purchaseFile)):
        if purchaseFile['Gender'][b] == a:
            arrayTemp.append(purchaseFile['Cost'][b])
    priceAverage.append(round(sts.mean(arrayTemp), 2))
    totalYield.append(sum(arrayTemp))
dfDemographicAnalysis['Average cost'] = priceAverage
dfDemographicAnalysis['Total Yield'] = totalYield
dfDemographicAnalysis

   Gender  Count  Percentage  Average cost  Total Yield
0  Female    136       17.44          2.82       382.91
1    Male    633       81.15          2.95      1867.68
2   Other     11        1.41          3.25        35.74

In [15]:
# Analysis of age groups:
purchaseFile.groupby('Age').size()

Age
7     19
8      3
9      6
10     4
11     9
12     5
13    11
14     6
15    47
16    23
17    17
18    24
19    22
20    98
21    43
22    68
23    57
24    70
25    67
26    13
27    19
28     5
29    21
30    18
31    16
32    11
33    11
34     8
35    12
36     7
37     9
38     9
39     5
40    14
42     1
43     1
45     1
dtype: int64

In [16]:
# Grouping by age group according to gender:
ageGroup = ['14 years old or younger', 'Between 15 and 23 years old', 'Between 24 and 32 years old', 'Between 33 and 40 years old', \
    'Over 40 years old']
dfAgeGroupByGender = pd.DataFrame()

for a in list(dfDemographicAnalysis['Gender']):
    arrayTemp = []
    for b in range(len(purchaseFile)):
        if purchaseFile['Gender'][b] == a and purchaseFile['Age'][b] <= 14:
            arrayTemp.append(purchaseFile['Cost'][b])
    dfAgeGroupByGender = dfAgeGroupByGender.append({\
        'Gender' : a, \
        'Age Group': ageGroup[0], \
        'Count' : purchaseFile.loc[(purchaseFile['Gender'] == a) & (purchaseFile['Age'] <= 14), 'Login'].count(), \
        'Percentage' : round(purchaseFile.loc[(purchaseFile['Gender'] == a) & (purchaseFile['Age'] <= 14), 'Login'].count()/dfDemographicAnalysis['Count'].sum()*100, 2), \
        'Average Cost' : round(sts.mean(arrayTemp), 2), \
        'Total Yield' : sum(arrayTemp)}, ignore_index = True)
for a in list(dfDemographicAnalysis['Gender']):
    arrayTemp = []
    for b in range(len(purchaseFile)):
        if purchaseFile['Gender'][b] == a and 15 <= purchaseFile['Age'][b] <= 23:
            arrayTemp.append(purchaseFile['Cost'][b])
    dfAgeGroupByGender = dfAgeGroupByGender.append({\
        'Gender' : a, \
        'Age Group': ageGroup[1], \
        'Count' : purchaseFile.loc[(purchaseFile['Gender'] == a) & (purchaseFile['Age'] <= 15) & (purchaseFile['Age'] <= 23), 'Login'].count(), \
        'Percentage' : round(purchaseFile.loc[(purchaseFile['Gender'] == a) & (purchaseFile['Age'] >= 15) & (purchaseFile['Age'] <= 23), 'Login'].count()/dfDemographicAnalysis['Count'].sum()*100, 2), \
        'Average Cost' : round(sts.mean(arrayTemp), 2), \
        'Total Yield' : sum(arrayTemp)}, ignore_index = True)
for a in list(dfDemographicAnalysis['Gender']):
    arrayTemp = []
    for b in range(len(purchaseFile)):
        if purchaseFile['Gender'][b] == a and 24 <= purchaseFile['Age'][b] <= 32:
            arrayTemp.append(purchaseFile['Cost'][b])
    dfAgeGroupByGender = dfAgeGroupByGender.append({\
        'Gender' : a, \
        'Age Group': ageGroup[2], \
        'Count' : purchaseFile.loc[(purchaseFile['Gender'] == a) & (purchaseFile['Age'] >= 24) & (purchaseFile['Age'] <= 32), 'Login'].count(), \
        'Percentage' : round(purchaseFile.loc[(purchaseFile['Gender'] == a) & (purchaseFile['Age'] >= 24) & (purchaseFile['Age'] <= 32), 'Login'].count()/dfDemographicAnalysis['Count'].sum()*100, 2), \
        'Average Cost' : round(sts.mean(arrayTemp), 2), \
        'Total Yield' : sum(arrayTemp)}, ignore_index = True)
for a in list(dfDemographicAnalysis['Gender']):
    arrayTemp = []
    for b in range(len(purchaseFile)):
        if purchaseFile['Gender'][b] == a and 33 <= purchaseFile['Age'][b] <= 40:
            arrayTemp.append(purchaseFile['Cost'][b])
    dfAgeGroupByGender = dfAgeGroupByGender.append({\
        'Gender' : a, \
        'Age Group': ageGroup[3], \
        'Count' : purchaseFile.loc[(purchaseFile['Gender'] == a) & (purchaseFile['Age'] >= 33) & (purchaseFile['Age'] <= 40), 'Login'].count(), \
        'Percentage' : round(purchaseFile.loc[(purchaseFile['Gender'] == a) & (purchaseFile['Age'] >= 33) & (purchaseFile['Age'] <= 40), 'Login'].count()/dfDemographicAnalysis['Count'].sum()*100, 2), \
        'Average Cost' : round(sts.mean(arrayTemp), 2), \
        'Total Yield' : sum(arrayTemp)}, ignore_index = True)
for a in list(dfDemographicAnalysis['Gender']):
    arrayTemp = []
    for b in range(len(purchaseFile)):
        if purchaseFile['Gender'][b] == a and purchaseFile['Age'][b] >= 40:
            arrayTemp.append(purchaseFile['Cost'][b])
    if arrayTemp == []:
        arrayTemp.append(0)
    dfAgeGroupByGender = dfAgeGroupByGender.append({\
        'Gender' : a, \
        'Age Group': ageGroup[4], \
        'Count' : purchaseFile.loc[(purchaseFile['Gender'] == a) & (purchaseFile['Age'] >= 40), 'Login'].count(), \
        'Percentage' : round(purchaseFile.loc[(purchaseFile['Gender'] == a) & (purchaseFile['Age'] >= 40), 'Login'].count()/dfDemographicAnalysis['Count'].sum()*100, 2), \
        'Average Cost' : round(sts.mean(arrayTemp), 2), \
        'Total Yield' : sum(arrayTemp)}, ignore_index = True)
dfAgeGroupByGender

,Gender,Age Group,Count,Percentage,Average Cost,Total Yield
0,Female,14 years old or younger,15,1.92,2.84,42.57
1,Male,14 years old or younger,47,6.03,2.85,133.84
2,Other,14 years old or younger,1,0.13,4.00,4.00
3,Female,Between 15 and 23 years old,19,8.21,2.79,178.74
4,Male,Between 15 and 23 years old,90,42.69,2.90,966.38
5,Other,Between 15 and 23 years old,1,0.26,3.30,6.61
6,Female,Between 24 and 32 years old,42,5.38,2.75,115.58
7,Male,Between 24 and 32 years old,194,24.87,3.06,593.99
8,Other,Between 24 and 32 years old,4,0.51,3.84,15.35
9,Female,Between 33 and 40 years old,15,1.92,3.07,46.02
10,Male,Between 33 and 40 years old,56,7.18,2.94,164.83
11,Other,Between 33 and 40 years old,4,0.51,2.44,9.78
12,Female,Over 40 years old,2,0.26,3.96,7.91
13,Male,Over 40 years old,15,1.92,3.06,45.84
14,Other,Over 40 years old,0,0.00,0.00,0.00

## Most popular consumers

In [17]:
# Recording a list with unique buyers:
uniquePopularConsumers = list(purchaseFile.groupby('Login').size().index)
uniquePopularConsumers

['Adairialis76',
 'Aduephos78',
 'Aeduera68',
 'Aela49',
 'Aela59',
 'Aelalis34',
 'Aelin32',
 'Aeliriam77',
 'Aeliriarin93',
 'Aeliru63',
 'Aellyria80',
 'Aellyrialis39',
 'Aellysup38',
 'Aelollo59',
 'Aenarap34',
 'Aenasu69',
 'Aeral43',
 'Aeral85',
 'Aeral97',
 'Aeri84',
 'Aerillorin70',
 'Aerithllora36',
 'Aerithnucal56',
 'Aerithnuphos61',
 'Aerithriaphos45',
 'Aesty51',
 'Aesur96',
 'Aethe80',
 'Aethedru70',
 'Aidain51',
 'Aidaira26',
 'Aidaira48',
 'Aiduecal76',
 'Aiduesu83',
 'Ailaesuir66',
 'Aillycal84',
 'Aillyriadru65',
 'Aina42',
 'Aina43',
 'Airal46',
 'Airi27',
 'Airidil41',
 'Airithrin43',
 'Aisur51',
 'Aisurphos78',
 'Aithelis62',
 'Alaephos75',
 'Alaesu77',
 'Alaesu91',
 'Alallo58',
 'Alarap40',
 'Alim85',
 'Alo67',
 'Anallorgue57',
 'Arithllorin55',
 'Assassa38',
 'Assassa43',
 'Assassasda84',
 'Assassasta79',
 'Assastnya25',
 'Assesi91',
 'Assilsan72',
 'Assistasda90',
 'Assistast50',
 'Assithasta65',
 'Assosia38',
 'Assosiasta83',
 'Assossa43',
 'Assylla81',
 'Astydil38',
 'Asur53',
 'Baelollodeu94',
 'Bartassaya73',
 'Billysu76',
 'Chadadarya31',
 'Chadanto83',
 'Chadjask77',
 'Chadossa56',
 'Chadossa89',
 'Chamadar27',
 'Chamadar61',
 'Chamadar79',
 'Chamadarnya73',
 'Chamadarsda63',
 'Chamastya76',
 'Chamilsala65',
 'Chamilsan75',
 'Chamim85',
 'Chamimla73',
 'Chamirra53',
 'Chamirrasya33',
 'Chamirraya83',
 'Chamistast30',
 'Chamjasknya65',
 'Chamosia29',
 'Chamucosda93',
 'Chanadar44',
 'Chanassa48',
 'Chanastnya43',
 'Chanastsda67',
 'Chanastst38',
 'Chanirra56',
 'Chanirra79',
 'Chanirrala39',
 'Chanirrasta87',
 'Chanjask65',
 'Chanjaskan37',
 'Chanjaskan89',
 'Chanosia60',
 'Chanosia65',
 'Chanosiast43',
 'Chanosiaya39',
 'Chanosseya79',
 'Chrathybust28',
 'Cosadar58',
 'Crausirra42',
 'Deelilsasya30',
 'Deural48',
 'Dyally87',
 'Ennoncil86',
 'Eoda93',
 'Eodailis27',
 'Eoduenurin62',
 'Eollym91',
 'Eolo46',
 'Eoral49',
 'Eoralphos86',
 'Eosrirgue62',
 'Eosur70',
 'Eosurdru76',
 'Eosursurap97',
 'Eothe56',
 'Eratiel90',
 'Ermol76',
 'Erudrion71',
 'Eryon48',
 'Ethralan59',
 'Ethralista69',
 'Ethruard50',
 'Ethrusuard41',
 'Eudasu82',
 'Eula35',
 'Eulaeria40',
 'Eulidru49',
 'Euliria52',
 'Eullydru35',
 'Euna48',
 'Eural50',
 'Eurallo89',
 'Eurinu48',
 'Eurisuru25',
 'Eurith26',
 'Eusri26',
 'Eusri44',
 'Eusri70',
 'Eustyria89',
 'Eusur90',
 'Eyircil84',
 'Faralcil63',
 'Farenon57',
 'Farusrian86',
 'Filon68',
 'Filrion44',
 'Filrion59',
 'Fironon91',
 'Frichadar89',
 'Frichassala85',
 'Frichast72',
 'Frichaststa61',
 'Frichaya88',
 'Frichilsasya78',
 'Frichim27',
 'Frichim77',
 'Frichistast39',
 'Frichistasta59',
 'Frichjask31',
 'Frichjaskan98',
 'Frichosiala98',
 'Frichossast75',
 'Frichossast86',
 'Haedasu65',
 'Haellysu29',
 'Haerith37',
 'Haerithp41',
 'Hailaphos89',
 'Hainaria90',
 'Hala31',
 'Hallysucal81',
 'Heolo60',
 'Heosrisuir72',
 'Heosurnuru52',
 'Heuli25',
 'Heunadil74',
 'Heuralsti66',
 'Hiadanurin36',
 'Hiarideu73',
 'Hiasri33',
 'Hiasur92',
 'Hilaerin92',
 'Hiral75',
 'Hirirap39',
 'Iadueria43',
 'Ialallo29',
 'Ialidru40',
 'Ialistidru50',
 'Iallyphos37',
 'Ialo60',
 'Iaralrgue74',
 'Iaralsuir44',
 'Iarilis73',
 'Iarithdil76',
 'Iasur80',
 'Iathenudil29',
 'Idai61',
 'Idairin80',
 'Idaria87',
 'Iduedru67',
 'Ila44',
 'Iladarla40',
 'Ilaesudil92',
 'Ilariarin45',
 'Ilassa51',
 'Ilast79',
 'Ilaststa70',
 'Iliel92',
 'Ililsa62',
 'Ililsan66',
 'Ilimya66',
 'Ilirrasda54',
 'Ilogha82',
 'Ilophos58',
 'Ilosia37',
 'Ilosu82',
 'Ilrian97',
 'Ina92',
 'Indcil77',
 'Indirrian56',
 'Indonmol95',
 'Ingatcil75',
 'Ingonon91',
 'Inguard95',
 'Inguron55',
 'Iral74',
 'Iri67',
 'Irillo49',
 'Irith83',
 'Irithrap69',
 'Iskadarya95',
 'Iskassa50',
 'Isketo41',
 'Iskichinya81',
 'Iskimnya76',
 'Iskirra45',
 'Iskista88',
 'Iskista96',
 'Iskistasda86',
 'Iskjaskan81',
 'Iskjaskst81',
 'Iskosia51',
 'Iskosian40',
 'Iskossa88',
 'Iskossan49',
 'Iskossasda43',
 'Iskossaya95',
 'Isri49',
 'Isri59',
 'Isrirgue68',
 'Isurria36',
 'Isurriarap71',
 'Isursti83',
 'Ithergue48',
 'Ithesuphos68',
 'Jeyciman68',
 'Jiskassa76',
 'Jiskilsa35',
 'Jiskimsda56',
 'Jiskirran77',
 'Jiskjask80',
 'Jiskosiala43',
 'Jiskossa51',
 'Koikirra25',
 'Lamil70',
 'Lamil79',
 'Lamon28',
 'Lamyon68',
 'Lassadarsda57',
 'Lassassasda30',
 'Lassassast73',
 'Lassast89',
 'Lassilsa41',
 'Lassilsa63',
 'Lassilsala30',
 'Lassimla92',
 'Lassista97',
 'Lassjask63',
 'Lassjaskan73',
 'Layjask75',
 'Leulaesti78',
 'Leyirra83',
 'Liawista80',
 'Liri91',
 'Lirtassa47',
 'Lirtast83',
 'Lirtilsan89',
 'Lirtista72',
 'Lirtistanya48',
 'Lirtistasta79',
 'Lirtosia72',
 'Lirtossa78',
 'Lirtossa84',
 'Lirtossan50',
 'Lirtossanya27',
 'Lirtyrdesta65',
 'Lisadar44',
 'Lisasi93',
 'Lisassa26',
 'Lisassa39',
 'Lisassa49',
 'Lisassasta50',
 'Lisico81',
 'Lisimsda29',
 'Lisiriya82',
 'Lisirra55',
 'Lisirrast82',
 'Lisirraya76',
 'Lisista27',
 'Lisistasya93',
 'Lisistaya47',
 'Lisjaskan36',
 'Lisjasksda68',
 'Lisjaskya84',
 'Lisosianya62',
 'Lisosiast26',
 'Lisossa25',
 'Lisossa63',
 'Lisossan98',
 'Lisossanya98',
 'Lisovynya38',
 'Malista67',
 'Malunil62',
 'Marassanya92',
 'Marassaya49',
 'Marilsa48',
 'Marilsanya48',
 'Marilsasya33',
 'Marim28',
 'Marirrasta50',
 'Marjasksda39',
 'Marundi65',
 'Meosridil82',
 'Mindadaran26',
 'Mindassast27',
 'Mindetosya30',
 'Mindilsa60',
 'Mindimnya67',
 'Mindirra92',
 'Mindjasksya61',
 'Mindosiasya28',
 'Mindossa76',
 'Mindossasya74',
 'Minduli80',
 'Narirra38',
 'Nitherian58',
 'Palatyon26',
 'Palurrian69',
 'Phadai31',
 'Phadue96',
 'Phaedai25',
 'Phaedan76',
 'Phaeduesurgue38',
 'Phaestycal84',
 'Phainasu47',
 'Phairinum94',
 'Phalinun47',
 'Pharithdil38',
 'Phenastya51',
 'Pheodai94',
 'Pheusrical25',
 'Phially37',
 'Philistirap41',
 'Philodil43',
 'Phistym51',
 'Phyali88',
 'Qaronon57',
 'Qarrian82',
 'Qarwen67',
 'Qilanrion65',
 'Qilatie51',
 'Qiluard68',
 'Qilunan34',
 'Quanenrian83',
 'Quarunarn52',
 'Quarusrion32',
 'Quelatarn54',
 'Quelaton80',
 'Queusurra38',
 'Quinarap53',
 'Raedalis34',
 'Raeduerin33',
 'Raelly43',
 'Raeri71',
 'Raerithsti62',
 'Raesty92',
 'Raesurdil91',
 'Raesursurap33',
 'Raillydeu47',
 'Raithe71',
 'Ralaeriadeu65',
 'Ralasti48',
 'Ralonurin90',
 'Rarith48',
 'Rasrirgue43',
 'Rathellorin54',
 'Raysistast71',
 'Reolacal36',
 'Reula64',
 'Reulae52',
 'Reuthelis39',
 'Rina82',
 'Rinallorap73',
 'Riralsti91',
 'Ririp86',
 'Ristydru66',
 'Rithe53',
 'Rithe77',
 'Ryanara76',
 'Ryastycal90',
 'Saedaiphos46',
 'Saedue76',
 'Saelaephos52',
 'Saellyra72',
 'Saelollop56',
 'Saena74',
 'Saerallora71',
 'Saida58',
 'Saidairiaphos61',
 'Saisrilis27',
 'Saistydru69',
 'Saistyphos30',
 'Salilis27',
 'Sally64',
 'Saralp86',
 'Sausosia74',
 'Seolollo93',
 'Seorithstilis90',
 'Seosri62',
 'Seudaillorap38',
 'Seudanu38',
 'Seuthelis34',
 'Shaidanu32',
 'Shidai42',
 'Sialaera37',
 'Siarinum43',
 'Siarithria38',
 'Siasri67',
 'Siathecal92',
 'Sida61',
 'Sidap51',
 'Silaera56',
 'Silideu44',
 'Silinu63',
 'Sirira97',
 'Smecherdi88',
 'Sondadar26',
 'Sondassa48',
 'Sondassa68',
 'Sondassasya91',
 'Sondastan54',
 'Sondenasta63',
 'Sondilsa35',
 'Sondilsa40',
 'Sondim43',
 'Sondim68',
 'Sondim73',
 'Sondimla25',
 'Sondossa55',
 'Sondossa91',
 'Strairisti57',
 'Streural92',
 'Strithenu87',
 'Stryanastip77',
 'Styaduen40',
 'Sundadarla27',
 'Sundassa93',
 'Sundast29',
 'Sundast87',
 'Sundastnya66',
 'Sundaststa26',
 'Sundim98',
 'Sundista85',
 'Sundjask71',
 'Sundosiasta28',
 'Sundossast30',
 'Sweecossa42',
 'Syadaillo88',
 'Syally44',
 'Syalollorap93',
 'Syasriria69',
 'Syathe73',
 'Taeduenu92',
 'Tanimnya91',
 'Tauldilsa43',
 'Thourdirra92',
 'Thryallym62',
 'Tillyrin30',
 'Tridaira71',
 'Tyadaru49',
 'Tyaelistidru84',
 'Tyaelly53',
 'Tyaelo67',
 'Tyaelorgue39',
 'Tyaenasti87',
 'Tyaeristi78',
 'Tyaerith73',
 'Tyaili86',
 'Tyalaesu89',
 'Tyananurgue44',
 'Tyarithn67',
 'Tyeosri53',
 'Tyeosristi57',
 'Tyeuduen32',
 'Tyeuduephos81',
 'Tyeuladeu30',
 'Tyeulisu40',
 'Tyiaduenuru55',
 'Tyida79',
 'Tyidainu31',
 'Tyidue95',
 'Tyirithnu40',
 'Tyisriphos58',
 'Tyisur83',
 'Tyithesura58',
 'Umuard36',
 'Undadar97',
 'Undadarla37',
 'Undare39',
 'Undast38',
 'Undirra73',
 'Undirrala66',
 'Undirrasta74',
 'Undirrasta89',
 'Undistasta86',
 'Undiwinya88',
 'Undjaskla97',
 'Undjasksya56',
 'Undotesta33',
 'Wailin72',
 'Whaestysu86',
 'Yadacal26',
 'Yadaisuir65',
 'Yadanun74',
 'Yalaeria91',
 'Yaliru88',
 'Yalo71',
 'Yalostiphos68',
 'Yaralnura48',
 'Yararmol43',
 'Yarirarn35',
 'Yaristi64',
 'Yarithllodeu72',
 'Yarithphos28',
 'Yarithsurgue62',
 'Yarmol79',
 'Yarolwen77',
 'Yasriphos60',
 'Yasrisu92',
 'Yasur35',
 'Yasur85',
 'Yasurra52',
 'Yathecal72',
 'Yathecal82',
 'Zhisrisu83',
 'Zontibe81']

In [18]:
# Selecting the top 5 users who spent the most on purchases:
dfPopularConsumers = pd.DataFrame()
for a in uniquePopularConsumers:
    tempdf = purchaseFile.loc[purchaseFile['Login'] == a]
    dfPopularConsumers = dfPopularConsumers.append({\
        'Login' : a, \
        'Purchased Items (ID)' : list(tempdf['ItemID']), \
        'Purchased Items (Product)' : list(tempdf['Product']), \
        'Count' : tempdf['Product'].count(), \
        'Average Cost': round(sts.mean(tempdf['Cost']), 2), \
        'Total Spend' : round(tempdf['Cost'].sum(), 2), \
        'Percentage' : round(tempdf['Cost'].sum()/purchaseFile['Cost'].sum()*100, 2)}, \
        ignore_index = True)
dfPopularConsumers.sort_values('Total Spend', ascending = False).head(5)

,Login,Purchased Items (ID),Purchased Items (Product),Count,Average Cost,Total Spend,Percentage
538,Undirrala66,"[144, 115, 62, 18, 133]","[Blood Infused Guardian, Spectral Diamond Doom...",5,3.41,17.06,0.75
428,Saedue76,"[13, 140, 7, 73]","[Serenity, Striker, Thorn, Ritual Mace]",4,3.39,13.56,0.59
354,Mindimnya67,"[140, 163, 145, 161]","[Striker, Thunderfury Scimitar, Fiery Glass Cr...",4,3.19,12.74,0.56
181,Haellysu29,"[96, 166, 91]","[Blood-Forged Skeletal Spine, Thirsty Iron Rea...",3,4.24,12.73,0.56
120,Eoda93,"[35, 173, 76]","[Heartless Bone Dualblade, Stormfury Longsword...",3,3.86,11.58,0.51

## Most popular items

In [19]:
# Recording a list with unique items by ItemID:
uniquePopularItems = list(purchaseFile.groupby('Product').size().index)
uniquePopularItems

['Abyssal Shard',
 'Aetherius',
 'Agatha',
 'Alpha',
 'Amnesia',
 'Apocalyptic Battlescythe',
 'Arcane Gem',
 'Avenger',
 'Azurewrath',
 'Betrayal',
 'Betrayer',
 'Blade of the Grave',
 'Blazefury',
 'Blazeguard',
 'Blindscythe',
 'Blood Infused Guardian',
 'Blood-Forged Skeletal Spine',
 "Bloodlord's Fetish",
 'Bone Crushing Silver Skewer',
 'Bonecarvin Battle Axe',
 'Brimstone',
 'Brutality Ivory Warmace',
 'Celeste',
 'Chaos',
 'Conqueror Adamantite Mace',
 'Crucifer',
 'Crying Steel Sickle',
 'Curved Axe',
 'Darkheart',
 'Dawn',
 'Dawne',
 'Deadline',
 'Deathraze',
 'Deluge',
 'Demise',
 'Despair',
 'Devine',
 'Downfall',
 "Dragon's Greatsword",
 'Dreamkiss',
 'Dreamsong',
 'Emberling',
 'Endbringer',
 'Eternal Cleaver',
 'Exiled Doomblade',
 'Exiled Mithril Longsword',
 'Expiration',
 'Extraction',
 "Faith's Scimitar",
 'Fate',
 'Feral Katana',
 'Fiery Glass Crusader',
 'Final Critic',
 'Flux',
 'Foul Edge',
 'Foul Titanium Battle Axe',
 "Freak's Bite",
 'Frenzied Scimitar',
 'Frenzy',
 'Fury',
 'Fusion Pummel',
 'Ghastly Adamantite Protector',
 'Ghost Reaver',
 "Gladiator's Glaive",
 'Glimmer',
 'Glinting Glass Edge',
 'Hailstorm Shadowsteel Scythe',
 'Hatred',
 'Haunted Bronzed Bludgeon',
 'Heartless Bone Dualblade',
 'Heartseeker',
 'Heartstriker',
 'Hellreaver',
 'Hero Cane',
 "Hope's End",
 'Hopeless Ebon Dualblade',
 'Interrogator',
 'Lazarus',
 'Lifebender',
 'Lightning',
 'Malice',
 'Malificent Bag',
 'Massacre',
 'Mercenary Sabre',
 'Mercy',
 "Misery's End",
 'Mourning Blade',
 'Netherbane',
 'Nirvana',
 'Oathbreaker',
 'Orbit',
 'Orenmir',
 'Persuasion',
 'Phantomlight',
 'Piece Maker',
 'Piety',
 'Possessed Core',
 'Primitive Blade',
 'Purgatory',
 'Pursuit',
 'Putrid Fan',
 'Rage',
 'Ragnarok',
 "Reaper's Toll",
 'Relentless Iron Skewer',
 'Renewed Skeletal Katana',
 'Restored Bauble',
 'Retribution Axe',
 'Riddle',
 'Righteous Might',
 'Ritual Mace',
 'Rusty Skull',
 'Scalpel',
 'Second Chance',
 'Serenity',
 'Severance',
 'Shadow Strike',
 'Shadowsteel',
 'Singed Onyx Warscythe',
 'Singed Scalpel',
 'Sleepwalker',
 "Solitude's Reaver",
 'Soul Infused Crystal',
 'Soul-Forged Steel Shortsword',
 'Souleater',
 'Spada',
 'Spectral Bone Axe',
 'Spectral Diamond Doomblade',
 'Splinter',
 'Splitter',
 'Storm-Weaver',
 'Stormbringer',
 'Stormcaller',
 'Stormfury Lantern',
 'Stormfury Longsword',
 'Stormfury Mace',
 'Striker',
 'Sun Strike',
 'Suspension',
 'Swan Song',
 'The Decapitator',
 'The Oculus',
 'The Void',
 'Thirsty Iron Reaver',
 'Thorn',
 'Thunderfury Scimitar',
 'Toothpick',
 'Torchlight',
 'Tranquility',
 'Trickster',
 "Twilight's Carver",
 'Undead Crusader',
 'Unending Tyranny',
 'Unholy Wand',
 'Vengeance Cleaver',
 'Venom Claymore',
 'Verdict',
 'Victor Iron Spikes',
 'Vindictive Glass Edge',
 'War-Forged Gold Deflector',
 'Warmonger',
 'Warped Diamond Crusader',
 'Warped Fetish',
 'Warped Iron Scimitar',
 'Whistling Mithril Warblade',
 "Winter's Bite",
 'Winterthorn',
 'Woeful Adamantite Claymore',
 'Wolf',
 'Worldbreaker',
 'Yearning Crusher',
 'Yearning Mageblade']

In [20]:
# Selecting the top 5 most popular products by number of sales:
dfPopularItems = pd.DataFrame()
for a in uniquePopularItems:
    tempdf = purchaseFile.loc[purchaseFile['Product'] == a]
    dfPopularItems = dfPopularItems.append({\
        'Product' : a, \
        'ItemsID' : list(set(map(lambda x: str(x), list(tempdf['ItemID'])))), \
        'Purchases' : tempdf['Product'].count(), \
        'Average Cost': round(sts.mean(tempdf['Cost']), 2), \
        'Total Spend' : round(tempdf['Cost'].sum(), 2), \
        'Percentage' : round(tempdf['Cost'].sum()/purchaseFile['Cost'].sum()*100, 2)}, \
        ignore_index = True)
dfPopularItems.sort_values('Purchases', ascending = False).head(5)

,Product,ItemsID,Purchases,Average Cost,Total Spend,Percentage
3,Alpha,"[47, 130, 79]",20,2.02,40.38,1.77
28,Darkheart,"[158, 152]",15,3.34,50.12,2.19
52,Final Critic,"[92, 101]",14,2.76,38.60,1.69
168,Wolf,"[60, 179]",12,1.86,22.36,0.98
6,Arcane Gem,[84],11,2.23,24.53,1.07

## Most profitable items

In [21]:
# Same consideration as before, but now the filter is in relation to the 'Total Spend' column:
dfProbitableItems = dfPopularItems.sort_values('Total Spend', ascending = False).head(5)
dfProbitableItems

,Product,ItemsID,Purchases,Average Cost,Total Spend,Percentage
28,Darkheart,"[158, 152]",15,3.34,50.12,2.19
3,Alpha,"[47, 130, 79]",20,2.02,40.38,1.77
52,Final Critic,"[92, 101]",14,2.76,38.60,1.69
107,Retribution Axe,[34],9,4.14,37.26,1.63
132,Stormcaller,"[180, 30]",10,3.47,34.65,1.52